/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  /*===== COLORS VARIABLES =====*/
  --first-color: #D25B71;
  --white-color: #F5C9DA;
  --dark-color: #3b294c;
  --dark-color-lighten: #F2F5FF;
  /*===== FONTS VARIABLES =====*/
  /* --body-font: 'Poppins', sans-serif; */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1, p {
  margin: 0;
}

.card__img {
  max-width: 100%;
  height: auto;
  margin-left: 1rem;
  margin-top: -3rem;
}

/*===== CARD =====*/
.container {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 320px;
  height: 500px;
  background-color: var(--dark-color);
  border-radius: 1rem;
  padding: 4rem 2rem 0;
  color: var(--white-color);
  overflow-y: hidden;
}

.card__img {
  position: absolute;
  width: 230px;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
  padding-top: 1rem;
}

.card__data {
  transform: translateY(11.2rem);
  text-align: center;
}

.card__title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: .5rem;
  padding-top: 2rem;
}

.card__preci {
  display: block;
  font-size: var(--h2-font-size);
  font-weight: 300;
  margin-bottom: 1.75rem;
  padding-top: 1.5rem;
}

#left {
  display: none;
}

.change {
  background-color: var(--dark-color);
  cursor: pointer;
  outline: none;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 5px;

  box-shadow: 0 0 4px 0 rgb(0 0 0);
}

.changeicon {
  height: 15px;
  width: 15px;

  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(327deg) brightness(104%) contrast(97%);
  /* filter: brightness(100%); */
}